# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
Desktop.ini
